<html>
<body>
<div style="font-size:22px;display:flex;width:800px;height:480px">
    <div style="display:flex;flex-direction:column;width:50%;height:100%">
        <div style="background-color:#000;color:#fff;padding:3px;display:flex;align-self:flex-start">
            <div>3 PM</div>
        </div>
        <div style="display:flex;padding:0 30px;flex-direction:column;width:100%;height:100%">
            <div style="display:flex;justify-content:center;font-size:30px;padding:10px 0 20px">
                <div>Hacker News</div>
            </div>
            <div style="display:flex;font-size:14px;line-height:1.4;flex-direction:column">
                <div style="display:flex">- Atari Means Business with the Mega ST</div>
                <div style="display:flex">- Figma Slides Is a Beautiful Disaster</div>
                <div style="display:flex">- Codex CLI is going native</div>
                <div style="display:flex">- RenderFormer: Neural rendering of triangle meshes with global
                    illumination
                </div>
                <div style="display:flex">- The Future of Comments Is Lies, I Guess</div>
                <div style="display:flex">- Why DeepSeek is cheap at scale but expensive to run locally</div>
                <div style="display:flex">- Progressive JSON</div>
                <div style="display:flex">- I like to install NixOS (declaratively)</div>
                <div style="display:flex">- RSC for Lisp Developers</div>
                <div style="display:flex">- How Georgists Valued land in the 1900&#x27;s</div>
            </div>
        </div>
    </div>
    <div style="display:flex;overflow:hidden;width:50%;height:100%">
        <img src="" style="height:100%;margin-left:-160px">
    </div>
</div>
</body>
</html>